.thumbnails {
    display: flex;
    justify-content:space-around ;
    align-items: center;
    width: 100%;
}

.thumbnail {
    width: 400px;
    height: 300px;
    margin: 0 10px;
    border: 2px solid transparent;
    /* cursor: pointer; */
    transition: border-color 0.3s;
}


button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
   
}