 <section class="content">
        <div class="text-content">
            <h1>{{title}}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat, nunc non scelerisque sollicitudin, erat nisi efficitur turpis, a vehicula justo leo sed lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat, nunc non scelerisque sollicitudin, erat nisi efficitur turpis, a vehicula justo leo sed lorem. </p>
            <button class="cta-button">Click Me</button>
        </div>
        <div class="video-content">
            <video controls>
                <source src="https://www.w3schools.com/html/mov_bbb.mp4" >
                Your browser does not support the video tag.
            </video>
        </div>
    </section>
