<hr>
  <section class="testimonials">
        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://img.freepik.com/photos-gratuite/femme-personnage-decontracte-dessin-anime-3d-amusant_183364-80070.jpg" alt="Témoignage 1">
            </div>
            <div class="testimonial-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel urna nec ipsum sollicitudin vehicula.</p>
                <p><strong>- Personne 1</strong></p>
            </div>
        </div>
        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://previews.123rf.com/images/jemastock/jemastock1704/jemastock170402206/75461936-portrait-personnage-femme-f%C3%A9minine-illustration-vectorielle-eps-10.jpg" alt="Témoignage 2">
            </div>
            <div class="testimonial-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel urna nec ipsum sollicitudin vehicula.</p>
                <p><strong>- Personne 2</strong></p>
            </div>
        </div>
    </section>
