<section class="articles">
  <ol class="article-list">
    <li class="article-item">
       
     <h2>{{articles}} </h2> 
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat sint,
        aperiam voluptatem et ipsa magni vitae assumenda ratione iste quos,
        explicabo dolore numquam eum sit, odit perspiciatis? Nisi, autem ipsam.
      </p>
    </li>

    <li class="article-item">
      <h2>{{articles}} </h2> 
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat sint,
        aperiam voluptatem et ipsa magni vitae assumenda ratione iste quos,
        explicabo dolore numquam eum sit, odit perspiciatis? Nisi, autem ipsam.
      </p>
    </li>
    <li class="article-item">
     <h2>{{articles}} </h2> 
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat sint,
        aperiam voluptatem et ipsa magni vitae assumenda ratione iste quos,
        explicabo dolore numquam eum sit, odit perspiciatis? Nisi, autem ipsam.
      </p>
    </li>
    <li class="article-item">
     <h2>{{articles}}</h2> 
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat sint,
        aperiam voluptatem et ipsa magni vitae assumenda ratione iste quos,
        explicabo dolore numquam eum sit, odit perspiciatis? Nisi, autem ipsam.
      </p>
    </li>
    <li class="article-item">
      <h2>{{articles}}</h2> 
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat sint,
        aperiam voluptatem et ipsa magni vitae assumenda ratione iste quos,
        explicabo dolore numquam eum sit, odit perspiciatis? Nisi, autem ipsam.
      </p>
    </li>
    <li class="article-item">
      <h2>{{articles}} </h2> 
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat sint,
        aperiam voluptatem et ipsa magni vitae assumenda ratione iste quos,
        explicabo dolore numquam eum sit, odit perspiciatis? Nisi, autem ipsam.
      </p>
    </li>
  </ol>
</section>
